
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}



.bg-image {
    background-image: url('https://source.unsplash.com/1600x900/?object%20detection,ai');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.display-1 {
    font-size: 5rem;
    padding-top: 10rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0069d9;
    border-color: #0062cc;
}